# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store

# Dependency directories
node_modules/

# build output
build/
react/
dist/
out/

# Sqlite3 Files
mydb.db

# Other
ignore/

