.inputElement {
  display: none;
}

.iconTextWrapper {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconTextWrapper:focus {
  color: #aaa;
}

.iconTextWrapper p {
  margin: 0 0 0 0.5rem;
  width: 80%;
}

.iconTextWrapper svg {
  min-width: 20px;
}
