.command-input {
  padding: 0.5rem;
  border-color: var(--color-secondary);
  margin: 5px;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.command-input:focus {
  background-color: var(--color-secondary);
  outline: none;
}

.config-area {
  overflow: hidden auto;
  width: 300px;
  height: calc(100% - 4rem);
  padding: 14px;
}

.web-ui-address {
  padding: 14px;
  font-weight: bold;
  text-align: right;
}

.apply-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
}
