* {
  box-sizing: border-box;
  white-space: nowrap;
}

html,
#root,
body {
  height: 100%;
}

body {
  --color-primary: #121212;
  --color-secondary: #181818;
  --color-ternary: #242424;
  --color-text: #e0e0e0;
  margin: 0;
  color: var(--color-text);
  font-family: Helvetica, sans-serif;
}
