{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Config</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<---! Display the 12 buttons and their images from the db: --->
		<div class="row" style="min-height:250px;">

			{% for b in buttons %}

			<div onclick="GuiButton({{b.id}})" class="col-lg-2 col-md-4 col-sm-6 col-xs-6 bg-secondary" style="border: solid; border-color: black; border-width: 5px; margin-bottom: 15px;">
				<img src="media/{{b.img}}" alt="" class="img-fluid rounded">
			</div>

			{% endfor %}

		</div>


		<div class="row">
			<div class="col-lg-6">
				<button type="button" onclick="cmdButton('type');" class="btn btn-primary">Type:</button>
				<button type="button" onclick="cmdButton('press');" class="btn btn-primary">Press:</button>
				<button type="button" onclick="cmdButton('web');" class="btn btn-primary">Open in web:</button>
				<button type="button" onclick="cmdButton('open');" class="btn btn-primary">Open file/programm:</button>
			</div>
		</div>
		<br>

		<---! Used to communicate with django: --->
		<form method="post">
			{% csrf_token %}
			<input name="cmdText" type="text" placeholder="Command">
			<input name="cmd" type="hidden" id="cmdInput">
			<input name="buttonID" type="hidden" id="buttonInput">
			<button type="submit" onclick="submit" class="btn btn-primary">Save Button</button>
		</form>

	</div>

	<script type="text/javascript">

		var allGuiButtons = document.getElementsByClassName("col-lg-2 col-md-4 col-sm-6 col-xs-6 bg-secondary");

		// put chosen Button into form:
		function GuiButton(index){
			document.getElementById("buttonInput").value = index
			//highlight chosen Button:
			for (var i = 0; i < allGuiButtons.length; i++){
				if (i == index - 1){
					allGuiButtons[i].style.borderColor = "yellow";
				}
				else{
					allGuiButtons[i].style.borderColor = "black";
				}
			}
		}

		// put chosen command into form:
		function cmdButton(cmd){
			document.getElementById("cmdInput").value = cmd
		}

	</script>
</body>
</html>
