.radioButtonContainer{
  display:flex;
  align-items: center;
}

.radioButton {
  width: .75rem;
  height: .75rem;
  background-color: white;
  border: solid white 2px;
  border-radius: 100%;
  margin: 0 1ch;
}

.checked{
  background-color: black;
}
