.inputElement {
  display: none;
}

.iconTextWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconTextWrapper p {
  margin: 0 0 0 0.5rem;
  width: 80%;
}

.iconTextWrapper svg{
  min-width: 20px;
}
