
.buttonArea {
  flex: 2;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.buttons {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.buttons button {
  background-color: var(--color-primary);
  aspect-ratio: 1;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button img {
  width: 100%;
}
