.commandInput {
  background-color: var(--color-primary);
  color: var(--color-text);
  margin: 5px;
  border-color: var(--color-secondary);
  padding: 0.5rem;
}

.commandInput:focus {
  outline: none;
  background-color: var(--color-secondary);
}

.configArea {
  width: 300px;
  padding: 14px;
  overflow: hidden auto;
  height: calc(100% - 4rem);
}

.webUIAdress {
  padding: 14px;
  text-align: right;
  font-weight: bold;
}

.applyButton {
  color: white;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  font-weight: bold;
}
